body {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    background-color: #0B1937;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
  
  .vertical-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

.inline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}
  
  table {
    width: 98%;
    background-color: #0D1221;
    margin: 0 auto;
    overflow: hidden;
    overflow-y: scroll;
  }
  .table-heads {
    height: 60px;
  }
  th {
    font-size: 1.325em;
    color: #fff;
    font-weight: normal;
  }
  td {
    text-align: center;
    color: #fff;
    font-size: .8325em;
  
  }
  
  .table-row:nth-of-type(even) {
    background-color: #0D1221;
  }
  
  .td-img {
    width: 90px;
  }
  
  .container {
    position: relative;
  }
  
  .scroll-able {
    overflow: scroll;
  }
  .max-height {
    max-height: 600px;
    overflow: scroll;
    width: 90%;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
  }
  
  table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
  
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  
    table tr {
      display: block;
      margin-bottom: .625em;
    }
  
    table td {
      display: block;
      font-size: .8em;
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
  
    table td:last-child {
      border-bottom: 0;
    }
  }